#mainBonos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#galleryBonos {
    min-height: $HGalerryBonos;
}

.carta_Bono {
    height: 200px;
    width: 300px;
    margin: 5px 0 0 5px;
    position: relative;
    background-color: #f0f8ff;
}

.card_Bonos {
    // min-height: $WHCard_Bono - 100px;
    // min-width: $WHCard_Bono;
    position: relative;
    display: grid;
    place-items: center;
    background-color: transparent;
    overflow: hidden;
    border-radius: 10px;
}

.card_Bonos::before {
    content: "";
    min-width: 200px;
    min-height: 500px;
    /* left: 60px; */
    /* top: -120px; */
    background: linear-gradient($ColorBonosBorde);
    position: absolute;
    animation: animate 8s linear infinite;
}

.carta_Bono .card-title {
    padding: 5px;
    background-color: $ColorBonosTitulo;
    font-size: 1.875em
}

.carta_Bono .card-body {
    font-size: 1.475em
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}