#mainBonos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#galleryBonos {
    min-height: $HGalerryBonos;
}

.carta_Bono {
    height: $WHCard_Bono;
    width: $WHCard_Bono + 100px;
    margin: 5px 0 0 5px;
    position: relative;
    background-color: $ColorBonos;
}

.card_Bonos {
    // min-height: $WHCard_Bono - 100px;
    // min-width: $WHCard_Bono;
    position: relative;
    display: grid;
    place-items: center;
    background-color: transparent;
    overflow: hidden;
    border-radius: 10px;
}

.card_Bonos::before {
    content: "";
    min-width: 200px;
    min-height: 500px;
    /* left: 60px; */
    /* top: -120px; */
    background: linear-gradient($ColorBonosBorde);
    position: absolute;
    animation: animate 8s linear infinite;
}

.carta_Bono .card-title {
    background-color: $ColorBonosTitulo;
    font-size: 1.5em;
    color: white;
    text-transform: capitalize;
    text-decoration: underline;
    text-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #fff, 0px 0px 20px #6c757d, 0px 0px 30px #6c757d, 0px 0px 40px #6c757d;
}

.carta_Bono .card-body {
    font-size: 1.2em;
    max-height: 200px;
    /* Altura máxima del div */
    overflow-y: auto;
}

#bonoAdmin {
    height: $WHCard_Bono+100px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}