#adminContendor {
    min-height: $MHusario;
    padding: 5%;
}

#adminContendorNoUT {
    min-height: $MHnoAuth;
}

#update_usuario_password_ADM {
    height: 66.3vh;
}

.TDID,
.TDName,
.TDApe,
.TDDNI,
.TDIDPerf,
.TDOption {
    width: 1vw;
}

@include for-phone-only {
    #adminContendor {
        padding-top: 20%;
    }

    .TDApe,
    .TDDNI,
    .TDIDPerf,
    .THeadApe,
    .THeadDNI,
    .THeadIDPer {
        display: none;
    }

    #update_usuario_password_ADM {
        height: 66.3vh;
    }
}

@include for-tablet-only {
    #adminContendor {
        padding-top: 20%;
    }

    .TDApe,
    .TDDNI,
    .TDIDPerf,
    .THeadApe,
    .THeadDNI,
    .THeadIDPer {
        display: none;
    }

    #update_usuario_password_ADM {
        height: 66.3vh;
    }
}

@include for-desktop-only {
    #adminContendor {
        padding-top: 20%;
    }

    #update_usuario_password_ADM {
        height: 66.3vh;
    }
}