:root:root {
    --AltuSectionInicio: 75.7vh;
}

#icono {
    border-radius: 50%;
    border: 1px solid black;
    padding: 2%;
}

#sectionInicio {
    min-height: var(--AltuSectionInicio);
}

.card {
    height: var(--AltuSectionInicio);
}