/* Colores */

$ColorFondo: #3f3f3f;
$ColorPlatosBorde: #00a4b6,
#5d386b,
#f1f1f1;
$ColorPlatos: rgb(255, 255, 255);
$ColorBonos: #f3f3f3;
$ColorBonosTitulo: #386c6e;
$ColorBonosBorde: #009e4f,
#73049b,
#f1f1f1;
$ColorInformacionBorde: #69e4a6,
#73049b,
#eb4d4d;

/*Tamaño height*/

$HGalerryBonos: 88.5vh;
$HGalerryPlatos: 89.2vh;
$HGalerryCarruselIMG: 84.2vh;
$HGalerryCarruselVideo: 83.6vh;
$HContRegistro: 88.5vh;
$HContLogin: 88.5vh;
$HConocenos: 85.8vh;
$MHusario: 88.6vh;

/*Tamaño comun para width y height */

$WHCard_Plato: 300px;
$WHCard_Bono: 250px;
$MHnoAuth: 80vh;