/* Colores */

$ColorFondo: #3f3f3f;
$ColorPlatosBorde: #00a4b6,
#5d386b,
#f1f1f1;
$ColorPlatos: rgb(255, 255, 255);
$ColorBonos: aliceblue;
$ColorBonosBorde: #009e4f,
#73049b,
#f1f1f1;
$ColorBonosTitulo: #a0e0e7;
$ColorInformacionBorde: #69e4a6,
#73049b,
#eb4d4d;

/*Tamaño height*/

$HGalerryBonos: 89.2vh;
$HGalerryPlatos: 89.2vh;
$HGalerryCarruselIMG: 84.7vh;
$HGalerryCarruselVideo: 84.2vh;
$HContRegistro: 89.8vh;
$HContLogin: 89.2vh;
$HConocenos: 86.4vh;

/*Tamaño comun para width y height */

$WHCard_Plato: 300px;
$WHCard_Bono: 200px;
$MHusario: 89.7vh;
$MHnoAuth: 80vh;