:root {
    --HConocenos: 88.6vh;
}

#conocenos {
    display: flex;
    align-items: center;
    width: 50%;
    height: var(--HConocenos);
}

#map {
    height: 50vh;
    width: 50wh;
}

#ContenidorForm {
    padding: 15% 0;
    margin: 0 5%;
    height: 50vh;
    width: 50wh;
}